{{outlet}}
<style>.mdl-layout__header { display: none;}</style>

<div class='modal showing'>
  <div class='modal-content'>
    <div class='close'>
      {{#link-to 'kid.lunches'}}
      {{mdl-icon icon='close'}}
      {{/link-to}}
    </div>
    <br />
  <h3>{{model.name}}
  <div class='one-fifth {{if (array-contains lunch.kidIds model.kid.id) 'favorite'}}' onclick={{action (route-action 'addFavorite' kid=model.kid.id lunch=lunch.id)}}>

    <i class="material-icons">favorite</i>
  </div></h3>
  <p style='padding:0 1em; color:black; font-size:1.1em;'>
    {{model.description}}
  </p>
  <img style='margin-top: 1em ;width:80%; opacity: .5;' src='http://genuineoatcakes.com/img/NutritionFacts.png' / />
</div>
</div>
