{{!-- {{#if (or (lt model.balance 20) model.hasDirtyAttributes)}} --}}
{{#if model.showBalanceModal}}
<style>.mdl-layout__header { display: none;}</style>
<div class='modal showing'>
  <div class='modal-content'>
    {{mdl-icon icon='face' class='profile'}}
    <h5>Add funds for {{model.name}}</h5>
    {{input type='number' value=model.balance class=model.balanceClass}}
    {{!-- <input style='color:red' type='number' value={{model.kid.balance}} /> --}}
    method
    visa
    <div class='row'>
      {{mdl-button isRaised=true text='Confirm' isAccent=true action=(route-action 'saveDirty' model)}}
    </div>
  </div>
</div>
{{else}}
Add Funds {{input type='number' id='regular' value=model.balance class=model.balanceClass}}
{{#link-to 'kid.lunches'}}
<div class='row'>
  <div class='one-fifth'>
    {{mdl-icon icon='local_dining'}}
  </div>
  <div class='three-fifths'>
    Lunches
  </div>
  <div class='one-fifth action'>
    <i class="material-icons">keyboard_arrow_right</i>
  </div>
</div>
{{/link-to}}

{{#link-to 'kid.methods' model.id}}
<div class='row'>
  <div class='one-fifth'>
    {{mdl-icon icon='local_atm'}}
  </div>
  <div class='three-fifths'>
    Payment Methods
  </div>
  <div class='one-fifth action'>
    <i class="material-icons">keyboard_arrow_right</i>
  </div>
</div>
{{/link-to}}

{{#link-to 'kid.settings' model.id}}
<div class='row'>
  <div class='one-fifth'>
    {{mdl-icon icon='settings'}}
  </div>
  <div class='three-fifths'>
    Settings
  </div>
  <div class='one-fifth action'>
    <i class="material-icons">keyboard_arrow_right</i>
  </div>
</div>
{{/link-to}}
{{/if}}
