{{outlet}}
<h5 class='month'>Lunches for September 2017</h5>
{{#mdl-tabs active='List'}}
  {{#mdl-tab title='List' class='is-active' isActive=true}}

<div class='row lunch-list'>
  {{#each model.lunches as |lunch index|}}
  {{#link-to 'kid.lunches.lunch' lunch.id}}
  <div class='one-fifth' style='line-height: 28px;'>
    {{lunch.nday}}
  </div>
  <div class='three-fifths' style='line-height: 28px;'>
    {{lunch.name}}
  </div>
  {{/link-to}}
  <div class='one-fifth {{if (array-contains lunch.kidIds model.kid.id) 'favorite'}}' onclick={{action (route-action 'addFavorite' kid=model.kid.id lunch=lunch.id)}}>

    <i class="material-icons">favorite</i>
  </div>
  {{/each}}

</div>

  {{/mdl-tab}}
  {{#mdl-tab title='Month'}}
  <div class='row content-table calendar'>
    <div class='one-fifth'>M</div><div class='one-fifth'>Tu</div><div class='one-fifth'>W</div><div class='one-fifth'>Th</div><div class='one-fifth'>F</div>
    {{#each model.lunches as |lunch index|}}

  <div class='one-fifth {{if (array-contains lunch.kidIds model.kid.id) 'favorite'}}'>
    <i class="material-icons">{{if (array-contains lunch.kidIds model.kid.id) 'favorite'}}</i>
    {{!-- {{if (lt kid.balance 1) 0}}{{kid.balance}} --}}
    {{#link-to 'kid.lunches.lunch' lunch.id}}{{lunch.nday}}{{/link-to}}
  </div>

  {{/each}}
  </div>
  {{/mdl-tab}}
{{/mdl-tabs}}

{{#modal-dialog onClose=(action (mut isShowingBasic) false)}}
  <h1>Managing Per Child Payment Methods</h1>
  <p>The layout of this screen could be better. It will be important to observe if test participants find the features they expect.</p>
{{/modal-dialog}}
