<div class="marvel-device nexus5">
    <div class="top-bar"></div>
    <div class="sleep"></div>
    <div class="volume"></div>
    <div class="camera"></div>
    <div class="screen grid">
      {{!-- {{#if globals.authenticated}} --}}
      <i class="material-icons" class='backbutton' onclick={{action (route-action 'back')}}>keyboard_arrow_left</i>
      {{#mdl-nav title='Lunch Money Buddy' fixedHeader=true}}
        {{mdl-nav-item name='Kids'   route='kids'}}
        {{mdl-nav-item name='Account'      route=''}}
        {{mdl-nav-item name='Logout'       route=''}}
        {{!-- {{#mdl-menu align='top-right' class='right'}}
  {{#mdl-menu-item action='menuItemClicked' amount=36.12}}Amount: 36.12{{/mdl-menu-item}}
  {{#mdl-menu-item action='menuItemClicked' amount=4.22}}Amount: 4.22{{/mdl-menu-item}}
  {{#mdl-menu-item action='menuItemClicked' amount=7.11}}Amount: 7.11{{/mdl-menu-item}}
{{/mdl-menu}} --}}
          {{outlet}}
      {{/mdl-nav}}
      {{#mdl-mini-footer}}
  {{#mdl-footer-linklist}}
  <li>
    {{#link-to 'kids'}}
      KIDS
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'profile'}}
      POFILE
    {{/link-to}}
  </li>
  {{/mdl-footer-linklist}}
{{/mdl-mini-footer}}
    </div>
</div>
