<div class='row header'>
  <div class='golden-small'>
    {{#link-to 'kid'}}{{mdl-icon icon='face' class='profile'}}{{/link-to}}
  </div>
  <div class='golden-large'>
    <h3>{{if model.kid.name model.kid.name}}</h3>
    {{model.kid.school}}
  </div>
</div>
{{flash-message}}
{{liquid-outlet}}
